.card {
  width: 18rem;
  height: 25rem;
  margin-bottom: 2vh;
}

.button-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
}

.card-footer {
  background-color: transparent !important;
}

.image {
  width: 50px;
  height: 200px;
}
